@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #8ADBEE;
}

header {
    padding: 1rem;
    min-width: 300px;
    max-width: 100vw;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;

}

header h1 {
    color: #73274D;
    text-align: center;
}

main h2 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

main {
    color: #73274D;
    text-align: center;
}

.login {
    font-size: 1.3rem;
    border: none;
    color: white;
    background-color: #73274D;
    height: 4rem;
    width: 11rem;
    border-radius: 10rem;
    margin-bottom: 2rem;
}

.register {
    font-size: 1.3rem;
    border: 5px solid #73274D;
    color: #73274D;
    background-color: white;
    border-radius: 10rem;
    height: 4rem;
    width: 11rem;
}

.arrow-button {
    border: none;
    border-radius: 10rem;
    text-align: center;
    color: white;
    background-color: #73274D;
    padding: .7rem;
}